#extend("base"):

#export("head"):
<title>登录</title> 
#endexport 

#export("body"):
<div class="bg-gray-700">
    <div class="container mx-auto h-full flex flex-1 justify-center items-center">
        <div class="w-full max-w-lg">
        <div class="leading-loose">
            <form class="max-w-xl m-4 p-10 bg-white rounded shadow-xl">
            <p class="text-gray-800 font-medium text-center text-lg font-bold">登录</p>
            <div class="">
                <label class="block text-sm text-gray-00 my-2" for="username">用户名</label>
                <input class="w-full px-5 py-1 text-gray-700 bg-gray-200 rounded" id="username" name="username" type="text" required="" placeholder="admin@qq.com" aria-label="username">
            </div>
            <div class="mt-2">
                <label class="block text-sm text-gray-600 my-2" for="password">密码</label>
                <input class="w-full px-5  py-1 text-gray-700 bg-gray-200 rounded" id="password" name="password" type="text" required="" placeholder="*******" aria-label="password">
            </div>
            <div class="mt-4 items-center justify-between">
                <button class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" type="submit">登录</button>
                <a class="inline-block right-0 align-baseline  font-bold text-sm text-500 hover:text-blue-800 mx-2" href="#">
                忘记密码？
                </a>
            </div>
            <a class="inline-block right-0 align-baseline font-bold text-sm text-500 hover:text-blue-800 my-3" href="/auth/register">
                未注册？
            </a>
            </form>
    
        </div>
        </div>
    </div>

</div>

#endexport

#endextend