#extend("base"): 

#export("head"):
<title>控制台</title>
#endexport 

#export("body"):

<div class="mx-auto">
    <!--Screen-->
    <div class="min-h-screen flex flex-col">
        <!--Header Section Starts Here-->
        <header class="bg-black">
            <div class="flex justify-between">
                <div class="p-1 mx-3 inline-flex items-center">
                    <i class="fas fa-bars pr-2 text-white" onclick="sidebarToggle()"></i>
                    <h1 class="text-white p-2">BOKE</h1>
                </div>
                <div class="p-1 flex flex-row items-center">
                    <a href="https://github.com/swiftdo/team-boke" class="text-white p-2 mr-2 no-underline hidden md:block lg:block">
                        <svg width="20" height="20" viewBox="0 0 16 16" fill="currentColor"><path fill-rule="evenodd" d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"></path></svg>
                    </a>
                    <img onclick="profileToggle()" class="inline-block h-8 w-8  mr-4 rounded-full" src="https://avatars0.githubusercontent.com/u/4323180?s=460&v=4" alt="">
                    <div id="ProfileDropDown" class="rounded hidden shadow-md bg-white absolute pin-t mt-12 mr-1 pin-r">
                        <ul class="list-reset">
                            <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">My account</a></li>
                            <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">Notifications</a></li>
                            <li>
                                <hr class="border-t mx-2 border-grey-ligght">
                            </li>
                            <li><a href="#" class="no-underline px-4 py-2 block text-black hover:bg-grey-light">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!--/Header-->

        <div class="flex flex-1">
            <!--Sidebar-->
            <aside id="sidebar" class="bg-side-nav w-1/2 md:w-1/6 lg:w-1/6 border-r border-side-nav hidden md:block lg:block">
                <ul class="list-reset flex flex-col">
                    <li class="w-full h-full py-3 px-2 border-b border-light-border bg-white">
                        <div class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline  pb-2">
                            <div class="fas fa-tachometer-alt mx-2"></div> 系统管理
                        </div>
                        <ul class="list-reset -mx-2 bg-white-medium-dark">
                            <li class="border-t border-light-border w-full h-full px-2 py-3">
                                <a href="/admin/users" class="mx-4 font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                    用户管理
                                </a>
                            </li>
                            <li class="border-t border-light-border w-full h-full px-2 py-3">
                                <a href="/admin/permissions" class="mx-4 font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                    权限管理
                                </a>
                            </li>
                            <li class="border-t border-light-border w-full h-full px-2 py-3">
                                <a href="/admin/roles" class="mx-4 font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                    角色管理
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="w-full h-full py-3 px-2 border-b border-light-border">
                        <div class="font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline pb-2">
                            <div class="fab fa-wpforms mx-2"></div> 文章管理
                        </div>
                        <ul class="list-reset -mx-2 bg-white-medium-dark">
                            <li class="border-t mt-2 border-light-border w-full h-full px-2 py-3">
                                <a href="/admin/articles" class="mx-4 font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                    文章列表
                                </a>
                            </li>
                            <li class="border-t border-light-border w-full h-full px-2 py-3">
                                <a href="/admin/cates" class="mx-4 font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                    文章分类
                                </a>
                            </li>
                            <li class="border-t border-light-border w-full h-full px-2 py-3">
                                <a href="/admin/tags" class="mx-4 font-sans font-hairline hover:font-normal text-sm text-nav-item no-underline">
                                    文章标签
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </aside>
            <!--/Sidebar-->


            <!--Main-->
            <main class="bg-white-300 flex-1 p-3 overflow-hidden">
                #import("main")
            </main>
            <!--/Main-->
        </div>
        <!--Footer-->
        <footer class="bg-grey-darkest text-white p-2">
            <div class="flex flex-1 mx-auto">&copy; My Design</div>
        </footer>
        <!--/footer-->
    </div>
</div>

#endexport 

#endextend