#extend("admin/admin"):
#export("main"):
<div class="m-1 shadow-md p-5 rounded">

    <div class="flex flex-row justify-between py-5">
        <div class="text-xl">用户管理</div>
        <div class="rounded px-5 py-2 bg-black text-white text-sm">新增</div>
    </div>


    <table class="table-fixed border-collapse border border-green-800">
        <thead>
        <tr>
            <th class="w-1/4 border border-green-600 p-6">用户ID</th>
            <th class="w-1/4 border border-green-600 p-6">用户名</th>
            <th class="w-1/4 border border-green-600 p-6">邮箱</th>
            <th class="w-1/4 border border-green-600 p-6">注册时间</th>
        </tr>
        </thead>
        <tbody>
            #for(user in result.items):
            <tr class="bg-emerald-200">
                <td class="border border-green-600 p-4">#(user.id)</td>
                <td class="border border-green-600 p-4">#(user.name)</td>
                <td class="border border-green-600 p-4">#(user.email)</td>
                <td class="border border-green-600 p-4">#date(user.createdAt, "yyyy-MM-dd HH:mm")</td>
            </tr>
            #endfor
        </tbody>
    </table>

    <div>
        页码:#(result.metadata.page)
        每页数量:#(result.metadata.per)
        总数:#(result.metadata.total)
    </div>
</div>

#endexport
#endextend
